{% extends 'apprasheo/base.html' %}


<!DOCTYPE html>
<html>


<head>
    <title>User Details</title>
</head>
<body>

 {% block content %}

 <table class="table">
  <thead class="thead-dark">
    <tr>
        <th> Sr. No. </th>
        <th> First Name </th>
        <th> Last Name  </th>
        <th> Date of Birth </th>
        <th> Sex </th>
        <th> Race </th>
        <th> Contact Number </th>
        <th> Email </th>
        <th> Height </th>
        <th> Weight </th>
        <th> Status </th>
        <th> Created At </th>
        <th> Created By </th>
    </tr>
  </thead>

  <tbody>
  

    {% for user in user_datas %}
        <tr >
            <td>{{ user.id }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.dob }}</td>
            <td>{{ user.sex }}</td>
            <td>{{ user.race }}</td>
            <td>{{ user.cont_no }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.height }}</td>
            <td>{{ user.weight }}</td>
            <td>{{ user.status }}</userd>
            <td>{{ user.created_at }} </td>
            <td>{{ user.first_name  }} </td>
        </tr>
    {% endfor %}




  </tbody>
    
</table>


{% endblock %}

</body>
</html>



